html, body {
  margin: 0;
  padding: 0;
  background: black;
}

.angie-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.angie-wrapper > img {
  float: left;
  clear: right;
  display: block;
  width: 100%;
}